body {
  margin: 0;
  font-family: Arial;
  background: #0f0f0f;
  color: white;
}

.sidebar {
  width: 200px;
  height: 100vh;
  background: #111;
  position: fixed;
  padding: 20px;
}

.content {
  margin-left: 220px;
  padding: 40px;
}

h1 {
  text-align: center;
}

.form input {
  padding: 8px;
  margin: 5px;
}

button {
  padding: 8px 15px;
  cursor: pointer;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 50%;
}

th, td {
  border: 1px solid #444;
  padding: 10px;
  text-align: center;
}
